#tabuleiro{
	margin:0px auto;
	width:412px;
	height:411px;

}

.linha{	
	height:80px;
	border:solid 1px;
}

.linha_inv{	
	height:80px;
}

body{
	background-image:url('imagens/fundo.jpg');
}

.casa{
	width:80px;
	height:80px;	
	float:left;
	cursor:pointer;
	border:solid 1px;
	background-image:url(imagens/casa.jpg);
}

.debug{	
	width:80px;
	height:80px;	
	float:left;
	cursor:pointer;
	border:solid 1px;
	background-color:#FFF;
}

.lago{
	width:80px;
	height:80px;	
	float:left;
	cursor:pointer;
	border:solid 1px;
	background-image:url('imagens/lago.jpg');
}

.selecionada{
	width:80px;
	height:80px;	
	float:left;
	cursor:pointer;
	border:solid 1px;
	border-color:#FF0000;
}

.soldado{
	background-image: url('imagens/soldado.jpg');
	width:80px;
	height:80px;	
	float:left;
	cursor:pointer;
	border:solid 1px;
}

.bandeira{
	background-image: url('imagens/bandeira.jpg');
	width:80px;
	height:80px;	
	float:left;
	cursor:pointer;
	border:solid 1px;
}

.bomba{
	background-image: url('imagens/bomba.jpg');
	width:80px;
	height:80px;	
	float:left;
	cursor:pointer;
	border:solid 1px;
}

.espiao{
	background-image: url('imagens/espiao.jpg');
	width:80px;
	height:80px;	
	float:left;
	cursor:pointer;
	border:solid 1px;
}

.cabo{
	background-image: url('imagens/cabo.jpg');
	width:80px;
	height:80px;	
	float:left;
	cursor:pointer;
	border:solid 1px;
}

.marechal{
	background-image: url('imagens/marechal.jpg');
	width:80px;
	height:80px;	
	float:left;
	cursor:pointer;
	border:solid 1px;
}

.computador{
	background-image: url('imagens/pc.jpg');
	width:80px;
	height:80px;	
	float:left;
	cursor:pointer;
	border:solid 1px;
}

#opcao{
	border:1px solid black;
	margin:250px auto 0px auto;
	width:600px;
	height:210px;
	background-color:#191970;
	color:#DCDCDC;
	font-family:arial;
}

.botaoentrar{
	width:120px;
	height:40px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	background-color:#A9A9A9;
	border:none;
	top:20px;
	position:relative;
	}

.botaoentrar:hover{
	background-color:#696969;
	color:white;
	}

.soldado_3
{
	width:100px;
	height:100px;	
	background-image:url(imagens/soldado_3.png);
	float:left;
}

.soldado_2
{
	width:100px;
	height:100px;	
	background-image:url(imagens/soldado_2.png);
	float:left;
}
.soldado_1
{
	width:100px;
	height:100px;	
	background-image:url(imagens/soldado_1.png);
	float:left;
}
.cabo_2
{
	width:100px;
	height:100px;	
	background-image:url(imagens/cabo_2.png);
	float:left;
}
.cabo_1
{
	width:100px;
	height:100px;	
	background-image:url(imagens/cabo_1.png);
	float:left;
}
.bomba_2
{
	width:100px;
	height:100px;	
	background-image:url(imagens/bomba_2.png);
	float:left;
}
.bomba_1
{
	width:100px;
	height:100px;	
	background-image:url(imagens/bomba_1.png);
	float:left;
}
.bandeira_1
{
	width:100px;
	height:100px;	
	background-image:url(imagens/bandeira_1.png);
	float:left;
}
.marechal_1
{
	width:100px;
	height:100px;	
	background-image:url(imagens/marechal_1.png);
	float:left;
}
.espiao_1
{
	width:100px;
	height:100px;	
	background-image:url(imagens/espiao_1.png);
	float:left;
}

.soldado_3_pc
{
	width:100px;
	height:100px;	
	background-image:url(imagens/soldado_3_pc.png);
	float:left;
}

.soldado_2_pc
{
	width:100px;
	height:100px;	
	background-image:url(imagens/soldado_2_pc.png);
	float:left;
}
.soldado_1_pc
{
	width:100px;
	height:100px;	
	background-image:url(imagens/soldado_1_pc.png);
	float:left;
}
.cabo_2_pc
{
	width:100px;
	height:100px;	
	background-image:url(imagens/cabo_2_pc.png);
	float:left;
}
.cabo_1_pc
{
	width:100px;
	height:100px;	
	background-image:url(imagens/cabo_1_pc.png);
	float:left;
}
.bomba_2_pc
{
	width:100px;
	height:100px;	
	background-image:url(imagens/bomba_2_pc.png);
	float:left;
}
.bomba_1_pc
{
	width:100px;
	height:100px;	
	background-image:url(imagens/bomba_1_pc.png);
	float:left;
}
.bandeira_1_pc
{
	width:100px;
	height:100px;	
	background-image:url(imagens/bandeira_1_pc.png);
	float:left;
}
.marechal_1_pc
{
	width:100px;
	height:100px;	
	background-image:url(imagens/marechal_1_pc.png);
	float:left;
}
.espiao_1_pc
{
	width:100px;
	height:100px;	
	background-image:url(imagens/espiao_1_pc.png);
	float:left;
}









